<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yo</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="h-[150vh] w-full bg-zinc-900 flex flex-col ">
      <a class="text-white p-3 pt-1 bg-red-600 m-4 w-1/9" href="/logout">< logout</a>
      <div class="flex flex-col justify-center items-center">
        <div class="w-20 h-20  rounded-full ">
          <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profilepic %>" alt="">
        </div>
        <h1 class="text-white text-2xl font-bold text-center p-4">
        <span class="text-red-600">Hello </span><%= user.name %>
      </h1>
      </div>
      
      <h5 class="text-white font-bold text-center p-4">
        You can create a post
      </h5>
      <form
        action="/post"
        method="post"
        class="flex flex-col gap-4 items-center justify-center w-full"
      >
        <textarea
          name="content"
          placeholder="whats on your mind"
          class="resize-none bg-zinc-800 w-1/2 text-white p-2 rounded-md"
          id=""
        ></textarea>
        <input
          type="submit"
          value="Create New Post"
          class="bg-zinc-800 text-white block p-2 w-1/2 rounded-md cursor-pointer hover:bg-blue-700 transition duration-300 ease-in-out"
        />
      </form>
      <div class="posts mt-20 m-5">
        <h3 class="text-zinc-400 p-4 ">Your Posts</h3>
        <div class="post-container">
          
          <% user.posts.reverse().forEach((post) => {
            %>
            <div class="post w-1/2 p-5 border-2 bg-zinc-800 border-zinc-600 rounded-md m-4">
              <h4 class="text-blue-600">@<%= user.name %></h4>
              <p class="text-zinc-400 text-sm tracking-wider mt-3 mb-2"><%= post.content %></p>
              <small class="mt-5 text-white"><%= post.likes.length %> likes<small></small>
              <div class="btn flex gap-4 mt-4  align-center">
                <a href="/like/<%= post._id %>" class="text-blue-600"><%= post.likes.indexOf(user._id) ? "Like" : "Unlike" %></a>
                <a href="/edit/<%= post._id %>" class="text-red-600">Edit</a>
              </div>
            </div>
            <% }) %>
          
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
